<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Recipe book</a>

    <div class="collapse navbar-collapse justify-content-between">
      <ul class="nav navbar-nav">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/recipes">Recipes</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/shopping-list']">Shopping list</a></li>
      </ul>

      <ul class="nav navbar-nav">
        <li appDropdown class="dropdown">
          <a class="dropdown-toggle" href="#" role="button">Manage</a>
          <ul class="dropdown-menu">
            <li class="dropdown-item" href="#">Dropdown element</li>
            <li class="dropdown-item" href="#">Dropdown element</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
