<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()"> <!-- also works with (ngSubmit)='onSubmit(inputForm)' #inputForm='ngForm' -->
  <div class="form-row">
    <label for="recipeName">Recipe Name</label>
    <input type="text" class="form-control" id="recipeName" formControlName="recipeName">
  </div>
  <div class="form-row">
    <label for="recipeDescription">Recipe Description</label>
    <input type="text" class="form-control" id="recipeDescription" formControlName="recipeDescription">
  </div>
  <div class="form-row">
    <label for="recipeImagePath">Recipe image</label>
    <input type="text" class="form-control" id="recipeImagePath" formControlName="recipeImagePath">
  </div>


  <div class="form-row">
    <button type="submit" class="btn btn-success">Add recipe</button>
  </div>
</form>

<ng-content></ng-content>
