<form #recipeCockpitForm>
  <div class="form-row">
    <label for="recipeName">Recipe Name</label>
    <input type="text" class="form-control" id="recipeName" name="recipeName" #recipeName>
  </div>
  <div class="form-row">
    <label for="recipeDescription">Recipe Description</label>
    <input type="text" class="form-control" id="recipeDescription" name="recipeDescription" #recipeDescription>
  </div>
  <div class="form-row">
    <label for="recipeImagePath">Recipe image</label>
    <input type="text" class="form-control" id="recipeImagePath" name="recipeImagePath" #recipeImagePath>
  </div>

  <div class="form-row">
    <button type="button" class="btn btn-success" (click)="saveRecipe(recipeName.value, recipeDescription.value, recipeImagePath.value)">Add recipe</button>
  </div>
</form>

<ng-content></ng-content>
