<div class="row">
  <div class="col col-xs-12">
    <img [alt]="recipe.name" [src]="recipe.imagePath" class="img-fluid recipeImage"/>
  </div>
</div>
<div class="row">
  <div class="col col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col col-xs-12">
    <div appDropdown class="btn-group">
      <button class="btn btn-primary dropdown-toggle" type="button">Manage Recipe</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="onAddToShoppingList()" style="cursor: pointer">To shopping list</a>
        <a class="dropdown-item" href="#">Edit recipe</a>
        <a class="dropdown-item" href="#">Delete recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col col-xs-12">
    {{recipe.description}}
  </div>
</div>

<div class="row">
  <div class="col col-xs-12">
    Ingredients:
    <ul class="list-group">
      <li *ngFor="let ingredient of recipe.ingredients" class="list-group-item">
        {{ingredient.name}} ({{ingredient.amount}})
      </li>
    </ul>
  </div>
</div>
