<div class="row">
  <div class="col col-xs-12">
    <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-fluid recipeImage" />
  </div>
</div>
<div class="row">
  <div class="col col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">To shopping list</a>
        <a class="dropdown-item" href="#">Edit recipe</a>
        <a class="dropdown-item" href="#">Delete recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col col-xs-12">
    {{recipe.description}}
  </div>
</div>

<div class="row">
  <div class="col col-xs-12">
    Ingredients:
  </div>
</div>
