<div class="row">
  <div class="col col-xs-12">
    <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-fluid recipeImage" />
  </div>
</div>
<div class="row">
  <div class="col col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe</button>
      <ul class="dropdown-menu">
        <li><a href="#">To shopping list</a></li>
        <li><a href="#">Edit recipe</a></li>
        <li><a href="#">Delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col col-xs-12">
    {{recipe.description}}
  </div>
</div>

<div class="row">
  <div class="col col-xs-12">
    Ingredients:
  </div>
</div>
