<h1>Recipes</h1>
<hr>
<div class="container">
  <div class="row">
    <div class="col col-md-5">
      <app-recipe-list></app-recipe-list>
    </div>
    <div class="col col-md-7">
      <div class="row">
        <div class="col col-sm-12">
          <div class="d-flex justify-content-between">
            <div (click)="onPrevRecipe()" class="btn btn-light"> &lt; Previous recipe</div>
            <div (click)="onNextRecipe()" class="btn btn-light">Next recipe &gt;</div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col col-sm-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
