<div class="row">
  <div class="col col-xs-12">
    <form #f=ngForm>
      <div class="row">
        <div class="col col-sm-8 form-group">
          <label for="name">Name</label>
          <input class="form-control" id="name" name="name" ngModel type="text">
        </div>
        <div class="col col-sm-4 form-group">
          <label for="amount">Amount</label>
          <input class="form-control" id="amount" name="amount" ngModel type="number">
        </div>
      </div>
      <div class="row">
        <div class="col col-xs-12">
          <button (click)="addItemToList()" class="btn btn-success m-sm-1" type="button">
            {{editMode ? 'Update' : 'Add'}}
          </button>
          <button (click)="onDeleteIngredient()" [disabled]="!editMode" class="btn btn-danger m-sm-1" type="button">
            Delete
          </button>
          <button (click)="clearForm()" class="btn btn-primary m-sm-1" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
